 
    <div class="footer">
        <p id="footer-p">warehouse © Radulov 2018</p>
    </div>
    <script src="/script.js"></script>
    <script src="/search_items.js"></script>
    <script src="/edit.js"></script>
    <script src="/deleteItems.js"></script>
</body>
</html>