
<div class="ui small inverted  stackable menu">
        <div class="right menu">
                
            <a class="item">
                Korisnik: &nbsp;&nbsp; <%= currentUser.username %>
            </a>
            <% if(currentUser.username === 'superadmin' && currentUser.canEdit){ %>
                <a href="/admin" class="item"> Admin page</a>
            <% } %>
            <a class="item" href="/logout">
                <i class="power off icon"></i>
            </a>
        </div>
    </div>    


<div class="ui centered grid">
        <div class="center aligned column">
            <div class="ui compact menu">
                    <a class=" item" href="/stanje">
                        <button class="ui tiny teal  icon button" type="submit"><i class="home icon"></i></i></button>
                    </a>
                    <% if(currentUser.canCreate){ %>
                        <a class="item" href="/stanje/noviunos">
                            <button class="ui tiny green icon button" type="submit"><i class="plus icon"></i></i></button>
                        </a>
                    <% } %>
                    <a class="item" href="">
                        <button class="ui tiny orange icon button" type="submit"><i class="print icon"></i></button>
                    </a>
            </div>        
        </div>
</div>



