<% include ./partials/header %>

<div class="bg">
    <div class="fg">
        <div class="ui one column stackable center aligned  page grid" style="padding-top: 15%">
            <div class="column five wide">
                <h2 style="color: azure"></h2>
                <form  class="ui large centered form" action="/login" method="POST" >
                    <div class="ui stacked fg2 segment" id="login-form">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="Username" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password" required>
                            </div>
                        </div>
                        <button class="fluid ui  blue  button" id="loginbtn" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</div>
<% include ./partials/footer %>