
body, html {
    height: 100%;
    
}

.bg {
    /* The image used */
    background-image: url("/img/Fiber-Optics-Wallpaper.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    

}

.fg {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2) !important;
    
}
.fg2 {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4) !important;
    
}

.results {
    display: inherit !important
}

.ui.search .prompt {
    
    border-radius: 0rem;

}